{
    "name": "{{ name }}",
    "version": "0.0.0",
    "repo": "{{ repo_org }}/{{ name }}",
    "description": "{{ description }}",
    "keywords": [],
    "license": "{{ license }}",
    "dependencies": {

    }{% if has_src %},
    "src": [
    
    ]
    {% endif %}
  }
